h1,
h2 {
  color: #ededed;
}

.cta-cat {
  height: 55px;
  text-align: center;
  background: radial-gradient(#a10e00, #510700);
}

.cta-cat:hover {
  font-size: 1.4;
  background: radial-gradient(#a10e00, #510700);
  color: #ededed;
  border: none;
}
