h1,
h2 {
  color: var(--light-grey);
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.cta-cat {
  background: var(--gradient-red);
  width: 60px;
  height: 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
}

.cta-cat:hover {
  font-size: 1.4;
  background: var(--gradient-red);
  color: var(--light-grey);
  border: none;
}

text.cta-cat {
  justify-self: center;
}

.categories {
  display: grid;
  width: 100%;
  grid-template-columns: 0.5fr 1fr 1fr 0.5fr;
  grid-template-rows: repeat(10, 1fr);
  grid-template-areas:
    ". header-cat1 header-cat1 ."
    ". product1 product2 ."
    ". product3 product4 ."
    ". header-cat2 header-cat2 ."
    ". product5 product6 ."
    ". product7 product8 ."
    ". product9 product10 ."
    ". product11 product12 ."
    ". product13 product14 ."
    ". product15 product16 .";
  gap: 20px;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.header-cat1 {
  grid-area: header-cat1;
}

.product1 {
  grid-area: product1;
}

.product2 {
  grid-area: product2;
}

.product3 {
  grid-area: product3;
}

.product4 {
  grid-area: product4;
}

.header-cat2 {
  grid-area: header-cat2;
}

.product5 {
  grid-area: product5;
}
.product6 {
  grid-area: product6;
}

.product7 {
  grid-area: product7;
}

.product8 {
  grid-area: product8;
}

.product9 {
  grid-area: product9;
}

.product10 {
  grid-area: product10;
}

.product11 {
  grid-area: product11;
}

.product12 {
  grid-area: product12;
}

.product13 {
  grid-area: product13;
}

.product14 {
  grid-area: product14;
}

.product15 {
  grid-area: product15;
}

.product16 {
  grid-area: product16;
}

@media (max-width: 550px) {
  h1 {
    font-size: 1.2em;
  }

  .cta {
    font-size: 1em;
  }
}

@media (min-width: 1050px) {
  .categories {
    grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 0.5fr;
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas:
      ". header-cat1 header-cat1 header-cat1 header-cat1 ."
      ". product1 product2 product3 product4 ."
      ". header-cat2 header-cat2 header-cat2 header-cat2 ."
      ". product5 product6 product7 product8 ."
      ". product9 product10 product11 product12 ."
      ". product13 product14 product15 product16 .";
  }
}
