h1,
h2,
p {
  margin: 5px;
}

main {
  min-height: 90vh;
}

.film-title {
  color: var(--light-grey);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 0px 10px 0px;
}

.film-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  max-height: 100%;
}

img.film-image {
  width: 90%;
  height: 90%;
  object-fit: cover;
  object-position: bottom;
  border-radius: 20px;
}

.film-info {
  flex-direction: column;
  position: absolute;
  z-index: 1;
  top: 85%;
  width: 65%;
  margin: 0px auto;
}

.ratings {
  margin-bottom: 20px;
}

.button-wrapper__film {
  padding: 30px 0px;
}

@media (min-width: 500px) {
  main {
    min-height: 105vh;
  }

  img.film-image {
    width: 80%;
    height: 80%;
  }
}

@media (min-width: 800px) {
  main {
    min-height: 140vh;
  }
}

@media (min-width: 1000px) {
  main {
    min-height: 150vh;
  }
}
