.background-homepage {
  background-image: url(../images/home-background.jpg);
  background-size: cover;
  max-width: 100%;
  background-repeat: no-repeat;
}

.container,
.information-wrapper,
.search-wrapper {
  background: rgba(237, 237, 237, 0.97);
  border-radius: 20px;
  text-align: center;
  padding: 20px 30px;
  display: flex;
  margin-top: 150px;
  margin-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.information {
  margin: 5px;
  flex: 1;
}

.welcome-text {
  margin-top: 5px;
  margin-bottom: 5px;
}

.welcome-signup,
.filmwatcher,
.filmmaker {
  padding-top: 15px;
}

.welcome-signup,
.welcome-readmore {
  margin: 30px;
}

/*Sign Up*/
.sign-up {
  flex-direction: column;
}

.filmmaker {
  margin-top: 30px;
  margin-bottom: 30px;
}

/*Read more*/
.information h2 {
  text-transform: none;
}

.information-wrapper {
  margin-top: 100px;
  margin-bottom: 100px;
}

/*Search*/
.search-wrapper {
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
}

.search-box {
  width: 80%;
  padding: 0px;
}

.search-input {
  border-radius: 10px;
  border: 3px;
  border-style: solid;
  border-color: #2e2e2e;
  font-family: "Montserrat";
  font-size: 1em;
  text-align: left;
  padding: 10px 20px;
  width: 75%;
  align-self: left;
}

.search-icon,
.x-icon {
  color: #2e2e2e;
}

.search-icon:hover {
  color: #a10e00;
}

@media (min-width: 440px) {
  .search-box {
    width: 90%;
  }

  .search-input {
    width: 80%;
    font-size: 1.2em;
  }

  .button-wrapper {
    margin-right: auto;
  }
}
