.background-image {
  background-image: url(../images/home-background.jpg);
  background-size: cover;
  max-width: 100%;
  background-repeat: no-repeat;
}

.welcome-signup,
.welcome-readmore {
  margin: 30px;
}

/*Read more*/
.information h2 {
  text-transform: none;
}

.form-wrapper {
  margin-top: 100px;
  margin-bottom: 100px;
}

/*Sign Up*/
.sign-up {
  flex-direction: column;
}

.filmmaker {
  margin-top: 15px;
  margin-bottom: 30px;
}
