.background-homepage {
  background-image: url(../images/home-background.jpg);
  background-size: cover;
  max-width: 100%;
  background-repeat: no-repeat;
}

.container {
  background: rgba(237, 237, 237, 0.97);
  border-radius: 20px;
  text-align: center;
  padding: 20px 30px;
  display: flex;
  margin-top: 150px;
  margin-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.welcome-content {
  margin: 5px;
  flex: 1;
}

.welcome-text {
  margin-top: 5px;
  margin-bottom: 5px;
}

.welcome-signup {
  padding-top: 15px;
}

.welcome-signup,
.welcome-readmore {
  margin: 30px;
}

/*Read more*/

@media (min-widht: 650px) {
  .container {
    width: 50%;
  }
}
