.myaccount {
  display: flex;
  flex-direction: row;
}

.account-profile {
  display: flex;
  flex-direction: row;
  align-items: center;
}

h1,
h2 {
  text-align: left;
  margin-left: 10px;
}

.account-wrapper {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  flex: auto;
  margin-top: 20px;
  margin-left: 40px;
  color: var(--light-grey);
}

.account-wrapper li {
  display: block;
  padding: 0px 5px 0px 5px;
  margin-block: 25px;
}

.account-wrapper a {
  color: var(--light-grey);
  font-style: bold;
  font-size: 1.2em;
}

.account-wrapper a:hover {
  font-size: 1.6em;
  color: var(--red);
}

.account-list {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-style: bold;
  font-size: 1.1em;
  padding-top: 20px;
  padding-left: 0px;
}

@media (min-width: 440px) {
  .account-wrapper a {
    font-size: 1.4em;
  }

  .account-wrapper a:hover {
    font-size: 1.8em;
  }
}
