h1,
h2 {
  color: #ededed;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

main {
  padding-top: 30px;
  padding-left: 30px;
  padding-bottom: 30px;
}

.cta-cat {
  height: 55px;
  text-align: center;
  background: radial-gradient(#a10e00, #510700);
}

.cta-cat:hover {
  font-size: 1.4;
  background: radial-gradient(#a10e00, #510700);
  color: #ededed;
  border: none;
}

.categories {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "header-cat1 header-cat1 header-cat1 header-cat1"
    "product1 product2 product3 product4"
    "header-cat2 header-cat2 header-cat2 header-cat2"
    "product5 product6 product7 product8"
    "product9 product10 product11 product12"
    "product13 product14 product15 product16";
  gap: 20px;
  align-items: center;
}

.header-cat1 {
  grid-area: header-cat1;
}

.product1 {
  grid-area: product1;
}

.product2 {
  grid-area: product2;
}

.product3 {
  grid-area: product3;
}

.product4 {
  grid-area: product4;
}

.header-cat2 {
  grid-area: header-cat2;
}

.product5 {
  grid-area: product5;
}
.product6 {
  grid-area: product6;
}

.product7 {
  grid-area: product7;
}

.product8 {
  grid-area: product8;
}

.product9 {
  grid-area: product9;
}

.product10 {
  grid-area: product10;
}

.product11 {
  grid-area: product11;
}

.product12 {
  grid-area: product12;
}

.product13 {
  grid-area: product13;
}

.product14 {
  grid-area: product14;
}

.product15 {
  grid-area: product15;
}

.product16 {
  grid-area: product16;
}
