@import "./imports/variables.css";
@import "./imports/links.css";
@import "./imports/icons.css";
@import "./imports/forms.css";

.background-image {
  background-image: url(../images/home-background.jpg);
  background-size: cover;
  max-width: 100%;
  background-repeat: no-repeat;
}

.background-color {
  background: var(--dark-grey);
  background-size: cover;
  max-width: 100%;
}

main {
  min-height: 100vh;
}

body {
  font-family: var(--font-paragraph);
  min-height: 100vh;
  margin: 0px;
}

h1,
h2,
nav a,
footer a,
.cta {
  font-family: var(--font-header);
  text-transform: uppercase;
  text-align: center;
  margin: 0px;
}

h3 {
  font-family: var(--font-paragraph);
  font-style: italic;
}

img.logo {
  width: 220px;
  height: 69px;
  margin-top: 5px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex: 1;
}

nav {
  display: none;
  position: absolute;
  top: 96px;
  background-color: var(--dark-grey);
  z-index: 1000;
  right: 0px;
}

nav li {
  display: block;
  padding: 15px 20px;
}

nav ul {
  padding: 0px;
}

nav a {
  font-size: 1.3em;
  color: var(--light-grey);
}

nav a:hover {
  color: var(--red);
}

#hamburger-menu {
  display: none;
}

#hamburger-menu:checked ~ nav {
  display: block;
}

.hamburger-icon,
.nav-right {
  padding-right: 15px;
}

header,
footer {
  background-color: var(--dark-grey);
  color: var(--light-grey);
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  background: var(--opacity-light-grey);
  border-radius: 10px;
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 90px auto 90px auto;
  width: 70%;
}

.container-text {
  padding: 15px;
}

@media (max-width: 600px) {
  h1 {
    font-size: 1.2em;
  }

  h2 {
    font-size: 1em;
  }

  h3 {
    font-size: 0.9em;
  }
}

@media (min-width: 760px) {
  header {
    align-items: flex-end;
    justify-content: flex-start;
    height: 75px;
  }

  header a {
    padding: 0px;
  }

  header label {
    display: none;
  }

  nav {
    display: block;
    position: static;
    top: 0px;
  }

  nav li {
    display: inline-block;
    padding: 5px 15px;
  }

  nav ul {
    padding-left: 3px;
    margin-top: 1px;
    margin-bottom: 1px;
  }

  .container {
    padding: 30px;
  }

  .container-text {
    padding: 20px 80px;
  }
}
