body {
  font-family: "Montserrat", sans-serif, Verdana, Geneva, Tahoma, sans-serif;
  min-height: 100vh;
  margin: 0px;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

h1,
h2,
nav a,
.cta {
  font-family: "Trebuchet MS", Helvetica, Verdana, Geneva, Tahoma, sans-serif;
  font-style: bold;
  text-transform: uppercase;
  text-align: center;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2px 5px;
  flex: 1;
}

nav {
  display: none;
  position: fixed;
  top: 69px;
  background-color: #2e2e2e;
  z-index: 1000;
  right: 0px;
}

nav li {
  display: block;
  padding: 10px 5px;
}

nav ul {
  padding: 0px;
}

.nav-right {
  padding-top: 10px;
}

nav a {
  font-size: 20px;
  color: #ededed;
}

nav a:hover {
  color: #a10e00;
}

#hamburger-menu {
  display: none;
}

#hamburger-menu:checked ~ nav {
  display: block;
}

header,
footer {
  background-color: #2e2e2e;
  color: #ededed;
}
/*Links*/
a {
  text-decoration: none;
}

header a {
  color: #ededed;
  text-transform: uppercase;
  padding: 10px;
}

.cta {
  background-color: #a10e00;
  color: #ededed;
  font-size: 1em;
  text-transform: uppercase;
  border-radius: 20px;
  padding: 15px 40px;
}

.cta:hover {
  background-color: #ededed;
  color: #a10e00;
  border: 3px;
  border-style: solid;
  border-color: #a10e00;
}

.link-style {
  color: #e86826;
  font-style: italic;
  text-decoration: underline;
}

.link-style:hover {
  font-size: 18px;
}

footer {
  text-align: center;
  padding: 5px;
}



@media (max-width: 440px) {
  h1 {
    font-size: 1.2em;
  }

  h2 {
    font-size: 1.1em;
  }
}

@media (min-width: 440px) {
  .cta {
    padding: 15px 80px;
    font-size: 1.2em;
  }
}

@media (min-width: 690px) {
  header {
    align-items: center;
    justify-content: flex-start;
    height: 69px;
  }

  header label {
    display: none;
  }

  nav {
    display: block;
    position: static;
    top: 0px;
  }

  nav li {
    display: inline-block;
    padding: 0px;
  }

  nav ul {
    padding-left: 3px;
    margin-top: 1px;
    margin-bottom: 1px;
  }

  .nav-left,
  .nav-right {
    margin: 3px;
  }
}

@media (min-width: 1000px) {
header {
  align-items: center;
}

  nav {
    display: flex;
    align-items: flex-end;
    flex:auto;
    justify-content: space-between;
  }


.nav-right {
  margin-left: auto;
}
