body {
  font-family: "Montserrat", sans-serif, Verdana, Geneva, Tahoma, sans-serif;
}

h1,
h2,
.cta {
  font-family: "Segoe UI", Helvetica, Verdana, Geneva, Tahoma, sans-serif;
}

nav {
  background-color: #2e2e2e;
}

/*Links*/
a {
  color: #e86826;
  font-family: "Montserrat", sans-serif;
  text-transform: italic;
}
header a {
  color: #ededed;
}

.cta {
  background-color: #a10e00;
  color: #ededed;
  font size: 1em;
  text-transform: uppercase;
  border-radius: 5px;
}

.cta-large {
    padding: 10px 40px;
}
