form {
  display: flex;
  flex-direction: column;
}

input {
  border: 2px solid var(--dark-grey);
  border-radius: 15px;
  margin: 0px 10px 10px 10px;
  padding: 10px;
  box-sizing: border-box;
}

.form__input {
  width: 264px;
}

.form__inputsmall {
  width: 130px;
  margin: 0px 0px 10px 0px;
}

input#expmonth,
input#securitynumber {
  margin: 0px;
}

.input-small {
  flex: row;
}

input[type="text email password"],
::placeholder {
  font-family: var(--font-paragraph);
  font-size: 1.2em;
  color: var(--grey);
}

::placeholder {
  text-transform: uppercase;
}

#expmonth,
#securitynumber {
  margin: 5px;
}

input[type="submit"] {
  border: 0px;
  width: 100px;
  height: 25px;
}

.signin-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 10px;
}

.form-wrapper {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.payment-details {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: 10px;
}

.cta-form {
  margin-top: 10px;
}

@media (max-width: 400px) {
  .form__input {
    width: 204px;
  }

  .form__inputsmall {
    width: 100px;
  }
}
