i,
i.fa-magnifying-glass {
  color: var(--light-grey);
}

i:hover {
  color: var(--red);
}

i.star {
  color: var(--yellow);
}

i.fa-user:hover {
  color: var(--light-grey);
}

.fa-magnifying-glass {
  padding-left: 20px;
  color: var(--dark-grey);
}

.fa-twitter,
.fa-instagram,
.fa-facebook-square {
  padding: 10px 0px;
}
