i {
  color: var(--light-grey);
}

i:hover {
  color: var(--red);
}

.search-icon {
  padding-left: 20px;
  color: var(--dark-grey);
}

.some-icons {
  padding: 10px 0px;
}

i.star {
  color: var(--yellow);
}

i.some-icon {
  padding: 10px;
}
