a {
  text-decoration: none;
}

header a {
  color: var(--light-grey);
  text-transform: uppercase;
  padding: 0.9em;
}

.cta {
  background-color: var(--red);
  color: var(--light-grey);
  font-size: 1em;
  text-transform: uppercase;
  border-radius: 0.9em;
  position: relative;
  display: inline-block;
  padding: 0.9em 3em;
  box-sizing: content-box;
}

.cta-large {
  width: 100px;
  padding-top: 15px;
}

.cta:hover {
  background-color: var(--light-grey);
  color: var(--red);
  border: 0.1em;
  border-style: solid;
  border-color: var(--red);
}

.cta-yellow {
  background-color: var(--yellow);
  color: var(--light-grey);
}

.cta-yellow:hover {
  background-color: var(--light-grey);
  color: var(--yellow);
  border: 0.1em;
  border-style: solid;
  border-color: var(--yellow);
}

.link-style {
  color: var(--yellow);
  font-style: italic;
  text-decoration: underline;
}

.link-style:hover {
  font-size: 1.1em;
}

@media (min-width: 440px) {
  .cta {
    padding: 0.9em 5em;
    font-size: 1.2em;
  }

  .button-wrapper {
    margin-right: auto;
  }
}
