a {
  text-decoration: none;
}

header a,
footer a {
  color: var(--light-grey);
  text-transform: uppercase;
  padding: 10px;
}

.cta {
  background-color: var(--red);
  color: var(--light-grey);
  font-size: 1em;
  text-transform: uppercase;
  border-radius: 5px;
  position: relative;
  padding: 15px 40px;
  box-sizing: content-box;
}

.cta:hover {
  background-color: var(--light-grey);
  color: var(--red);
  border: 2px;
  border-style: solid;
  border-color: var(--red);
}

.cta-yellow {
  background-color: var(--yellow);
  color: var(--light-grey);
}

.cta-yellow:hover {
  background-color: var(--light-grey);
  color: var(--yellow);
  border: 2px;
  border-style: solid;
  border-color: var(--yellow);
}

.cta-cat {
  background: var(--gradient-red);
  width: 60px;
  height: 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  justify-content: center;
}

.cta-cat:hover {
  font-size: 1.4em;
  background: var(--gradient-red);
  color: var(--light-grey);
  border: none;
  width: 65px;
  height: 60px;
}

.button-wrapper {
  padding: 20px 0px;
}

.back-button {
  margin-top: 15px;
}
.back-button a {
  font-size: 1.1em;
  font-family: var(--font-header);
  color: var(--light-grey);
  text-transform: uppercase;
  margin-left: 30px;
}

.back-button a:hover {
  color: var(--red);
  text-decoration: underline;
}

.link {
  color: var(--yellow);
}

.link:hover {
  text-decoration: underline;
}

@media (min-width: 600px) {
  .cta {
    padding: 15px 80px;
    font-size: 1.2em;
  }
}
