/*CTA*/
.cta {
  background-color: var(--red);
  color: var(--light-grey);
  text-transform: uppercase;
  border-radius: 5px;
  position: relative;
  padding: 15px 35px;
  box-sizing: content-box;
}

.cta:hover {
  background-color: var(--light-grey);
  color: var(--red);
  padding: 13px 33px;
  border: 2px solid var(--red);
}

/*Buttons*/
button {
  border: none;
}

.button-wrapper {
  padding: 20px 0px;
}

.back-button {
  margin: 15px 0px 15px 30px;
}

/*Links*/
.link {
  font-family: var(--font-paragraph);
  text-transform: none;
  color: var(--red);
}

.link:hover {
  text-decoration: underline;
}

/*Message*/
.error {
  display: none;
  color: var(--red);
  font-size: 0.8em;
  margin-top: 10px;
  text-align: left;
}

.message {
  font-size: 0.9em;
  text-align: center;
}

.success-message {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*Loader*/
.loader {
  align-items: center;
  border: 15px solid var(--red);
  border-top: 15px solid black;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
  margin-top: 20px;
}

.results-loader {
  grid-column-start: 2;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (min-width: 600px) {
  .cta {
    padding: 15px 80px;
    font-size: 1.2em;
  }

  .cta:hover {
    padding: 13px 78px;
    border: 2px solid var(--red);
  }

  .message {
    font-size: 1em;
    padding: 15px;
    margin: 20px;
  }

  .error {
    font-size: 0.9em;
  }
}
