/*Font Style*/
h1,
h2,
h3,
nav a,
footer a,
.back-link,
.cta {
  font-family: var(--font-header);
  text-transform: uppercase;
  text-align: center;
  margin: 0px;
}

h1 {
  font-style: 1.3em;
}

h2 {
  font-style: 1em;
}

h3 {
  text-transform: none;
  font-style: italic;
  font-style: 0.9em;
}

p {
  font-size: 0.8em;
}

nav a {
  font-size: 1.2em;
  color: var(--light-grey);
}

nav a:hover {
  color: var(--red);
  text-decoration: underline;
}

a {
  text-decoration: none;
}

header a,
footer a {
  color: var(--light-grey);
  text-transform: uppercase;
  padding: 10px;
}

.cta {
  background-color: var(--red);
  color: var(--light-grey);
  font-size: 1em;
  text-transform: uppercase;
  border-radius: 5px;
  position: relative;
  padding: 15px 35px;
  box-sizing: content-box;
}

.cta:hover {
  background-color: var(--light-grey);
  color: var(--red);
  border: 2px;
  border-style: solid;
  border-color: var(--red);
}

.cta-yellow {
  background-color: var(--yellow);
  color: var(--light-grey);
}

.cta-yellow:hover {
  background-color: var(--light-grey);
  color: var(--yellow);
  border: 2px;
  border-style: solid;
  border-color: var(--yellow);
}

.cta-cat {
  background: var(--gradient-red);
  width: 60px;
  height: 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  justify-content: center;
}

.cta-cat:hover {
  font-size: 1.2em;
  background: var(--gradient-red);
  color: var(--light-grey);
  border: none;
  width: 65px;
  height: 60px;
}

.button-wrapper {
  padding: 20px 0px;
}

.back-button {
  margin: 15px 0px;
}
.back-button a {
  font-size: 0.9em;
  font-family: var(--font-header);
  color: var(--light-grey);
  text-transform: uppercase;
  margin-left: 30px;
}

.back-button a:hover {
  color: var(--red);
  text-decoration: underline;
}

.link {
  color: var(--yellow);
}

.link:hover {
  text-decoration: underline;
}

.error {
  display: none;
  color: var(--red);
  font-size: 0.8em;
  margin-top: 10px;
  text-align: left;
}

.message {
  font-size: 1em;
  text-align: center;
}

.success {
  color: darkgreen;
}

@media (min-width: 600px) {
  h1 {
    font-size: 2em;
  }

  .cta {
    padding: 15px 80px;
    font-size: 1.2em;
  }

  .cta-cat:hover {
    font-size: 1.2em;
  }

  .back-button a {
    font-size: 1.1em;
  }

  .message {
    padding: 1em;
    margin: 20px;
  }

  .success {
    font-size: 1.2em;
  }

  .error {
    font-size: 1em;
  }
}
