:root {
  --light-grey: #ededed;
  --medium-grey: #6a6a6a;
  --dark-grey: #2e2e2e;
  --red: #a10e00;
  --yellow: #e86826;
  --gradient-red: radial-gradient(#a10e00, #510700);
  --opacity-light-grey: rgba(237, 237, 237, 0.97);
  --font-header: "Trebuchet MS", Helvetica, Verdana, Geneva, Tahoma, sans-serif;
  --font-paragraph: "Montserrat", sans-serif, Verdana, Geneva, Tahoma, sans-serif;
}
