:root {
  --light-grey: #ededed;
  --medium-grey: #6a6a6a;
  --dark-grey: #2e2e2e;
  --red: #a10e00;
  --yellow: #e86826;
  --gradient-grey: linear-gradient(#2e2e2e, #6a6a6a);
  --gradient-red: radial-gradient(#a10e00, #510700);
  --opacity-light-grey: rgba(237, 237, 237, 0.97);
}
